@tailwind base;
@tailwind components;
@tailwind utilities;

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
.validation-message {
    @apply text-red-400 pt-2 font-bold;
}
h1 {
    @apply text-blue-500 font-bold text-4xl pt-4;
}
h2 {
    @apply text-blue-600 font-bold text-3xl pt-8;
}
h3 {
    @apply text-purple-600 font-bold text-2xl pt-8;
}
img {
    @apply p-1 pt-3 pb-3;
}
p {
    @apply text-blue-400 font-bold text-2xl pt-2;
}
a {
    @apply text-blue-500 font-bold text-2xl pt-2 underline;
}
blockquote {
    @apply pl-8 text-purple-600 font-bold text-xl pt-0 p-1;
}
ul {
    @apply pl-5 text-blue-400 font-bold text-2xl pt-2 list-disc;
}
video {
    @apply p-1 pt-3 pb-3;
}
