@using NeoPixelController.App.Shared
@inherits LayoutComponentBase
<div class="relative min-h-screen md:flex">
    <NavMenu />
    <div class="flex-1 bg-gray-900 text-blue-500">
        <div class="space-y-4 p-10">
            @Body
        </div>
    </div>
</div>
