@inject NavigationManager Navigation
<div class="bg-gray-800 text-gray-100 flex justify-between md:hidden">
    <!-- logo -->
    <p href="#" class="block pt-6 no-underline p-4 text-blue-500 font-extrabold">NeoPixelController</p>

    <!-- mobile menu button -->
    <button class="p-4 focus:outline-none focus:bg-gray-700" @onclick="ToggleNavMenu" @onfocusout="FocusOut">
        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
    </button>
</div>

<!-- sidebar -->
<div class="z-50 bg-gray-800 text-blue-400 w-64 space-y-6 py-7 px-2 absolute inset-y-0 left-0 transform @SideMenuCssClass md:relative md:translate-x-0 transition duration-200 ease-in-out">

    <!-- logo -->
    <a href="" class="text-blue-500 no-underline flex items-center space-x-2 px-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-24 w-24" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" />
        </svg>
        <span class="text-4xl font-extrabold"><p class="break-normal">Neo Pixel Controller</p></span>
    </a>

    <!-- nav -->
    <nav>
        <NavLink href="" Match="NavLinkMatch.All" ActiveClass="bg-gray-700 animate-pulse" class="text-blue-500 no-underline	font-bold text-xl block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 hover:text-white">
            Intro
        </NavLink>
        <NavLink href="about" Match="NavLinkMatch.All" ActiveClass="bg-gray-700 animate-pulse" class="text-blue-500 no-underline font-bold text-xl block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 hover:text-white">
            About me
        </NavLink>
        <NavLink href="blogPage" Match="NavLinkMatch.All" ActiveClass="bg-gray-700 animate-pulse" class="text-blue-500 no-underline	font-bold text-xl block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 hover:text-white">
            Blog
        </NavLink>
        <div class="text-blue-500 flex space-x-3 no-underline font-bold text-xl py-2.5 px-4 rounded">
            <a target="_blank" href="https://github.com/lochidev">
                <img class="pt-3 w-10" src="/images/GitHub-Mark-Light-64px.png" />
            </a>
            <a target="_blank" href="https://twitter.com/LOCHI5880">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-8 pt-4" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Logo" x="0px" y="0px" viewBox="0 0 248 204" style="enable-background:new 0 0 248 204;" xml:space="preserve">
                <style type="text/css">
                    .st0 {
                        fill: #1D9BF0;
                    }
</style>
                <g id="Logo_1_">
                <path id="white_background" class="st0" d="M221.95,51.29c0.15,2.17,0.15,4.34,0.15,6.53c0,66.73-50.8,143.69-143.69,143.69v-0.04   C50.97,201.51,24.1,193.65,1,178.83c3.99,0.48,8,0.72,12.02,0.73c22.74,0.02,44.83-7.61,62.72-21.66   c-21.61-0.41-40.56-14.5-47.18-35.07c7.57,1.46,15.37,1.16,22.8-0.87C27.8,117.2,10.85,96.5,10.85,72.46c0-0.22,0-0.43,0-0.64   c7.02,3.91,14.88,6.08,22.92,6.32C11.58,63.31,4.74,33.79,18.14,10.71c25.64,31.55,63.47,50.73,104.08,52.76   c-4.07-17.54,1.49-35.92,14.61-48.25c20.34-19.12,52.33-18.14,71.45,2.19c11.31-2.23,22.15-6.38,32.07-12.26   c-3.77,11.69-11.66,21.62-22.2,27.93c10.01-1.18,19.79-3.86,29-7.95C240.37,35.29,231.83,44.14,221.95,51.29z" />
            </g>
            </svg>
            </a>
        </div>
        @*<NavLink href="projects" Match="NavLinkMatch.All" ActiveClass="bg-gray-700 animate-pulse" class="text-blue-500 font-bold text-xl block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 hover:text-white">
        Projects
        </NavLink>
        <AuthorizeView>
        <Authorized>
        <div class="flex">
        <a href="profile" class="text-blue-500 font-bold text-xl block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 hover:text-white">
        Hello, @context.User.Identity.Name!
        </a>
        <button @onclick="BeginSignOut" class="text-blue-500 font-bold text-xl
        block py-2.5 px-4 rounded transition duration-200
        hover:bg-gray-700 hover:text-white">
        Log out
        </button>
        </div>
        </Authorized>
        <NotAuthorized>
        <a href="authentication/login" class="text-blue-500 font-bold text-xl block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700 hover:text-white">
        Log in
        </a>
        </NotAuthorized>
        </AuthorizeView>*@
    </nav>
</div>
@code {
    private bool collapse = true;

    private string? SideMenuCssClass => collapse ? "-translate-x-full" : null;

    private void ToggleNavMenu()
    {
        collapse = !collapse;
    }
    //private async Task BeginSignOut(MouseEventArgs args)
    //{
    //	await SignOutManager.SetSignOutState();
    //	Navigation.NavigateTo("authentication/logout");
    //}
    private async Task FocusOut()
    {
        await Task.Delay(50);
        collapse = true;
    }
  }